<div>
  <div class="container">
    <div class="showurl">Url = <span class="contents">myurl</span></div>
    <div class="maincontent">
      <h2>Static</h2>
      <div class="section">
        <div class="title"><h3>Absolute URIs</h3></div>
        <a href="http://google.com">http://google.com</a><br/>
        <div class="title"><h3>Relative URIs</h3></div>
        <a href="#zero/one/two/">#zero/one/two</a><br/>
        <a href="/three/four/">/three/four/</a><br/>
        <a href="five/six/">five/six/</a><br/>
      </div>
      <h2>Dynamic</h2>
      <div class="section">
        <div class="title absolutes"><h3>Absolute URIs</h3></div>
        <div class="title relatives"><h3>Relative URIs</h3></div>
      </div>
    </div>
  </div>
</div>
