<div class="org-golfscript-test">

  <a class="clickable button" href="#otherpage/">spiders will follow this link</a>

  <h2 class="clickme clickable button">Click me!</h2>

  <div>
    <span class="show clickable button">
      more info
    </span>
    <span class="close clickable button" style="display:none">
      less info
    </span>
    <span class="spacer">&nbsp;</span>
    <span class="reset clickable button" style="display:none">
      reset
    </span>
    <span class="spacer">&nbsp;</span>
    <span class="thanks" style="display:none">
      Hey, you clicked <span class="counter">X</span> times. Thanks!
    </span>
  </div>

  <div  class="items"></div>
</div>
