.component {
  color: purple;
}

.clickable {
  cursor: pointer;
  cursor: hand;
}

.component {
  color: orange;
}

.button {
  padding: .25em;
  color: white;
  background: orange;
}

.clickme {
  font-size: 24pt;
  background: red;
  color: white;
}

.item {
  padding: 2em;
}

.thanks {
}
